<div class="about-info">
  <p>Owla is an interactive and powerful tool designed to change the way learning is done.
    It allows you to ask questions in many rooms about various subjects and have your questions solved and much more!
    It was created by students of Universidade de Brasília, in Brazil.</p>

  <table class="table table-striped developers">
    <tr>
      <th>Developers</th>
      <th>Git</th>
    </tr>
    <tr>
      <td>Álax Alves</td>
      <td><%= link_to "alaxalves", "https://github.com/alaxalves" %></td>
    </tr>
    <tr>
      <td>Jéssica Cristina</td>
      <td><%= link_to "jessicacris", "https://github.com/jessicacris" %></td>
    </tr>
    <tr>
      <td>Luan Guimarães</td>
      <td><%= link_to "luanguimaraesla", "https://github.com/luanguimaraesla" %></td>
    </tr>
    <tr>
      <td>Matheus de Sousa</td>
      <td><%= link_to "matheussbernardo", "https://github.com/matheussbernardo" %></td>
    </tr>
    <tr>
      <td>Matheus Richard Torres</td>
      <td><%= link_to "MatheusRich", "https://github.com/MatheusRich" %></td>
    </tr>
    <tr>
      <td>Matheus Joranhezon</td>
      <td><%= link_to "Joranhezon", "https://github.com/Joranhezon" %></td>
    </tr>
    <tr>
      <td>Vitor Barbosa</td>
      <td><%= link_to "vitorbaraujo", "https://github.com/vitorbaraujo" %></td>
    </tr>
    <tr>
      <td>Victor Navarro</td>
      <td><%= link_to "matias310396", "https://gitlab.com/matias310396" %></td>
    </tr>
  </table>
</div>
