<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    <%= @topic.name %>
    <%= link_to 'New Question', new_topic_question_path(@topic), class: 'btn btn-sm btn-default'%>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Topic</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
<div class="row">
  <% @topic.questions.each do |question| %>
    <!-- /.col -->
    <div class="col-md-6 pull-right">
      <!-- Box Comment -->
      <div class="box box-widget">
        <div class="box-header with-border">

          <div class="user-block">
            <% if question.anonymous %>
              <% if(current_member == question.member || current_member == @room.owner)  %>
                <%= image_tag (question.member.avatar.url(:thumb)), class: "img-circle img-sm",
                  alt: "User Image", style: "max-width: 56px;" %>
                <span class="username">
                  <a href="#"><%= question.member.alias %></a>    <span class="fa fa-eye-slash"></span>
                </span>
              <% else %>
                <%= image_tag "/images/missing.png", class: "img-circle img-sm",
                  alt: "User Image", style: "max-width: 56px;" %>
                <span class="username">
                  <%= "Anônimo" %>
                </span>
              <% end %>
            <% else %>
              <%= image_tag (question.member.avatar.url(:thumb)), class: "img-circle img-sm",
                alt: "User Image", style: "max-width: 56px;" %>
              <span class="username">
                <a href="#"><%= question.member.alias %></a>
              </span>
            <% end %>
            <span class="description">Created at <%= question.created_at.strftime("%m/%d/%Y @ %H:%M")%></span>
          </div>

          <!-- /.user-block -->
          <div class="box-tools">
            <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Mark as read">
              <i class="fa fa-circle-o"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
          </div>
          <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <!-- post text -->
          <%= question.content %>
          <!-- Social sharing buttons -->
          <div class="row col-xs-12">
            <span class="text-muted pull-right"><%= question.answers.count %> answers</span>
            <% if current_member == question.member %>
              <%= link_to 'Edit', edit_question_path(question), class: 'btn btn-xs btn-flat btn-primary pull-right',
                  style: "margin-right: 5px;"%>
            <% end %>
          </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer box-comments">
          <% question.answers.each do |answer| %>
            <% if (answer.is_anonymous && current_member.id != @room.owner_id && current_member.id != answer.member_id) %>
              <div class="box-comment">
                <%= image_tag ("icon.png"), class: "img-circle img-sm" %>
                <span class="username">
                  <%= "Usuário anônimo" %>
                <span class="text-muted pull-right"><%= answer.created_at.strftime("%m/%d/%Y @ %H:%M")%></span>
                </span><!-- /.username -->
                <%= answer.content %>
              </div>
            <% else %>
              <div class="box-comment">
                <%= image_tag (answer.member.avatar.url(:thumb)), class: "img-circle img-sm", alt: "User Image" %>
                  <span class="username">
                    <%= answer.member.name %>
                    <% if (answer.is_anonymous && (current_member == @room.owner_id || current_member.id = answer.member.id)) %>
                        <i class="fa fa-eye-slash" aria-hidden="true" title="Resposta em modo anônimo"></i>
                    <% end %>
                    <span class="text-muted pull-right"><%= answer.created_at.strftime("%m/%d/%Y @ %H:%M")%></span>
                  </span><!-- /.username -->
                <%= answer.content %>
              </div>
            <% end %>
          <% end %> <!-- answer loop -->
        </div>
        <!-- /.box-footer -->
        <div class="box-footer">
          <%= image_tag (current_member.avatar.url(:thumb)), class: "img-circle img-sm",
              alt: "User Image", style: "max-width: 56px;" %>
          <!-- .img-push is used to add margin to elements next to floating images -->
          <div class="img-push">
            <%= form_for @answer, url: {:action=>"create", :controller=>"answers", :id=>nil, question_id: question.id} do |ans| %>
              <div class="input-group">
                <%= ans.text_field :content, class:"form-control", placeholder: "Answer here" %>
                <!-- Button to use anonymous answer -->
                <%= check_box_tag :responderAnonimo, 1, false %>
                <%= label_tag(:responderAnonimo, "Responder em anônimo") %>
                <!-- Button to send answer -->
                <div class="input-group-btn">
                  <%= button_tag(type: "submit", class: "btn btn-flat btn-danger", id: "Buttonflag") do %>
                      <i class="fa fa-send-o"></i>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <!-- /.box-footer -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  <% end %> <!-- questions loop -->
</div>
<!-- /.row -->
</section>
