<section class="content-header">
  <h1>
    <%= @topic.name %>
    <%= link_to 'New Question', new_topic_question_path(@topic), class: 'btn btn-sm btn-default'%>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Topic</li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <% @topic.questions.each do |question| %>
      <div class="col-md-6 pull-right">
        <div class="box box-widget">
          <div class="box-header with-border">

            <div class="user-block">
              <% if question.anonymous %>
                <% if(current_member == question.member || current_member == @room.owner)  %>
                  <%= image_tag (question.member.avatar.url(:thumb)), class: "img-circle img-sm",
                    alt: "User Image", style: "max-width: 56px;" %>
                  <span class="username">
                    <a href="#"><%= question.member.alias %></a>    <span class="fa fa-eye-slash"></span>
                  </span>
                <% else %>
                  <%= image_tag "/images/missing.png", class: "img-circle img-sm",
                    alt: "User Image", style: "max-width: 56px;" %>
                  <span class="username">
                    <%= "Anonymous" %>
                  </span>
                <% end %>
              <% else %>
                <%= image_tag (question.member.avatar.url(:thumb)), class: "img-circle img-sm",
                  alt: "User Image", style: "max-width: 56px;" %>
                <span class="username">
                  <a href="#"><%= question.member.alias %></a>
                </span>
              <% end %>
              <span class="description">Created at <%= question.created_at.strftime("%m/%d/%Y @ %H:%M")%></span>
            </div>

            <div class="box-tools">
              <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Mark as read">
                <i class="fa fa-circle-o"></i></button>
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>
              <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
          </div>

          <div class="box-body">
            <div class="question-content">
              <%= question.content %>
            </div>

            <div class="row col-xs-12" id="question-control">
              <span class="text-muted pull-right"><%= question.answers.count %> answers</span>
              <% if current_member == question.member %>
                <%= link_to 'Edit', edit_question_path(question), class: 'btn btn-xs btn-flat btn-primary pull-right',
                    style: "margin-right: 5px;"%>
              <% end %>

              <% if @topic.room.owner == current_member && !question.moderated? %>
                <%= link_to 'Moderar', moderate_question_url(question.id) , method: :post, class: 'btn btn-xs btn-flat btn-primary pull-right', style: "margin-right: 15px;" %>
              <% end %> 
            </div>

            <div class="question-attachment">
              <% if question.attachment? %>
                <%= link_to "", question.attachment.url(:original, false), target: '_blank', class: 'fa fa-paperclip btn btn-xs btn-flat btn-primary pull-right', id: "attachment-question" %>
              <% end %>
            </div>
          </div>

          <div class="box-footer box-comments">
            <% question.answers.each do |answer| %>
              <div class="box-comment">
                <% if answer.anonymous %>

                    <% if(current_member == answer.member || current_member == @room.owner) %>
                      <%= image_tag (answer.member.avatar.url(:thumb)), class: "img-circle img-sm",
                        alt: "User Image", style: "max-width: 56px;" %>
                      <span class="username">
                        <a href="#"><%= answer.member.alias %></a>    <span class="fa fa-eye-slash"></span>
                        <span class="text-muted pull-right"><%= answer.created_at.strftime("%m/%d/%Y @ %H:%M")%></span>
                      </span>
                    <% else %>
                      <%= image_tag "/images/missing.png", class: "img-circle img-sm",
                        alt: "User Image", style: "max-width: 56px;" %>
                      <span class="username">
                        <%= "Anonymous" %>
                        <span class="text-muted pull-right"><%= answer.created_at.strftime("%m/%d/%Y @ %H:%M")%></span>
                      </span>
                    <% end %>
                <% else %>
                  <%= image_tag (answer.member.avatar.url(:thumb)), class: "img-circle img-sm",
                        alt: "User Image", style: "max-width: 56px;" %>
                  <span class="username">
                    <a href="#"><%= answer.member.alias %></a>
                    <span class="text-muted pull-right"><%= answer.created_at.strftime("%m/%d/%Y @ %H:%M")%></span>
                  </span>
                <% end %>

                <div class="answer-attachment">
                  <% if answer.attachment? %>
                    <%= link_to "", answer.attachment.url(:original, false), target: '_blank', class: 'fa fa-paperclip btn btn-xs btn-flat btn-primary pull-right', id: "attachment-answer" %>
                  <% end %>
                </div>

                <%= answer.content %>

                <% if @topic.room.owner == current_member && !answer.moderated? %>
                  <%= link_to 'Moderar', moderate_answer_url(answer.id) , method: :post, class: 'btn btn-xs btn-flat btn-primary pull-right', style: "margin-right: 15px;", id: 'moderate_answer' %>
                <% end %>
              </div>
            <% end %>
          </div>

          <div class="box-footer">
            <%= image_tag (current_member.avatar.url(:thumb)), class: "img-circle img-sm",
                alt: "User Image", style: "max-width: 56px;" %>
            <div class="img-push">
              <%= form_for @answer, url: {:action=>"create", :controller=>"answers", :id=>nil, question_id: question.id} do |ans| %>
                <div class="input-group">
                  <%= ans.text_field :content, class:"form-control", placeholder: "Answer here" %>
                  <%= ans.check_box :anonymous %>
                  <%= ans.label :anonymous %>

                  <div class="input-group-btn">
                    <%= button_tag(type: "submit", class: "btn btn-flat btn-danger", id: "Buttonflag") do %>
                        <i class="fa fa-send-o"></i>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>

        </div>
      </div>
    <% end %>
  </div>
</section>
