<% @title = @topic.name %>
<section class="content-header" name="father" id="father-topic-<%= @topic.id %>">
  <h1>
    <%= @topic.name %>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-default btn-flat"\
     data-toggle="modal" data-target="#modal-0">
      New question
    </button>

    <%= render partial: 'questions/form_modal',
        locals: { question: @question,
                  placeholder: @question_placeholder,
                  box_title: @question_box_title,
                  url: @new_question_url,
                  slide_id: 0} %>

    <% if current_member != @owner and @topic.slide.present? %>
      <input name="follow-slide" type="checkbox" checked>
    <% end %>

  </h1>

  <!-- search by tags -->
  <%= form_tag "/topics/#{@topic.id}/search_by_tag", method: :get do %>
    <%= select_tag(:tag, options_for_select(current_member.tags.collect { |u| u.content }), {:prompt => 'Filter by tags'}) %>
    <%= submit_tag 'Go!' %>
  <% end %>

  <!-- navigability -->
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i><%= link_to 'Home', root_path %> </a></li>
    <li><a href="#"><%= link_to @topic.room.name, room_path(@topic.room.id) %></a></li>
    <li class="active"> <%= @topic.name %> </li>
  </ol>
</section>

<section class="content">
  <!-- slide -->
  <% if @topic.slide.present? %>
    <% if @topic.slide_content_type == 'application/pdf' %>

      <div class="box-body">
        <div id="carousel-slide" topic="<%= @topic.id %>" class="carousel slide following"\
         data-ride="carousel" size="<%= @slide[:pages].count %>">
          <div class="carousel-inner">

            <% @slide[:pages].each do | slide_page_uri | %>
              <% if @slide[:pages].index(slide_page_uri) == 0 %>
                <div class="item active" id="slide-0">
              <% else %>
                <div class="item"\
                 id="slide-<%= @slide[:pages].index(slide_page_uri) %>">
              <% end %>
                <img class="slide-slice" src=<%= slide_page_uri %>\
                 style="height: <%= @slide[:dimensions][:height] + 35 %>px;
                        width: <%= @slide[:dimensions][:width] %>px;" />
                </object>

                <hr>

                <div class="row" id="topic-question-box-<%= @topic.id %>">
                  <% if @slide[:questions][@slide[:pages].index(slide_page_uri)].present? %>
                    <% @slide[:questions][@slide[:pages].index(slide_page_uri)].sort_by{ |slides| -slides.cached_votes_up }.each do |question| %>
                      <%= render partial: 'questions/question',
                                 locals: { question: question,
                                           room: @topic.room,
                                           new_answer: @answer
                                         } %>

                      <%= render partial: 'questions/form_modal',
                                 locals: { question: question,
                                           placeholder: nil,
                                           box_title: "Edit question",
                                           url: question_path(question),
                                           slide_id: @slide[:pages].index(slide_page_uri)
                                         } %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>

          <% if @slide[:pages].size > 1 %>
            <a class="left carousel-control" id="slide-left-arrow"\
               href="#carousel-slide" data-slide="prev"\
               style="height: <%= @slide[:dimensions][:height] + 35 %>px">
              <span class="fa fa-angle-left"></span>
            </a>
            <a class="right carousel-control" id="slide-right-arrow"\
               href="#carousel-slide" data-slide="next"\
               style="height: <%= @slide[:dimensions][:height] + 35 %>px">
              <span class="fa fa-angle-right"></span>
            </a>
          <% end %>

        </div>

      </div>
      <!-- /.box-body -->
    <% end %>
    <hr>
  <% else %>
    <div class="row" id="topic-question-box-<%= @topic.id %>">
      <% @topic.questions.order(:cached_votes_up => :desc).each do |question| %>
        <%= render partial: 'questions/question',
                   locals: { question: question,
                             room: @topic.room,
                             new_answer: @answer} %>

        <%= render partial: 'questions/form_modal',
                   locals: { question: question,
                             placeholder: nil,
                             box_title: "Edit question",
                             url: question_path(question),
                             slide_id: nil } %>
      <% end %>
    </div>
  <% end %>
</section>

<%= javascript_include_tag 'topics' %>
