<section class="content-header">
  <h1>
    <%= @topic.name %>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-default btn-flat" data-toggle="modal" data-target="#modal-0">
      New question
    </button>

    <%= render partial: 'questions/form_modal', locals: { question: @question,
                                                          placeholder: @question_placeholder,
                                                          box_title: @question_box_title,
                                                          url: @new_question_url} %>

  </h1>

  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Topic</li>
  </ol>
</section>

<section class="content">

  <% if @topic.slide.present? %>
    <% if @topic.slide_content_type == 'application/pdf' %>
      <!-- Slide -->
      <% @splited_slide.each do | slide_page_uri | %>
        <div class="row">
          <iframe class="slide-slice" src=<%= slide_page_uri %>\
                  style="height: <%= @slide_dimensions[:height] + 35 %>px;
                         width:<%= @slide_dimensions[:width]%>px;"
                  frameborder="0">
          </iframe>
        </div>
      <% end %>
    <% end %>
    
    <hr>
  <% else %>
    <div class="row" id="topic-question-box-<%= @topic.id %>">
      <% @topic.questions.each do |question| %>
        <%= render partial: 'questions/question', locals: { question: question,
                                                            room: @topic.room,
                                                            new_answer: @answer} %>

      <%= render partial: 'questions/form_modal', locals: { question: question,
                                                            placeholder: nil,
                                                            box_title: "Edit question",
                                                            url: question_path(question)} %>
      <% end %>
    </div>
  <% end %>
</section>
