<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    <%= @topic.name %>
    <%= link_to 'New Question', new_topic_question_path(@topic), class: 'btn btn-sm btn-default'%>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Topic</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
<div class="row">
  <% @topic.questions.each do |question| %>
    <!-- /.col -->
    <div class="col-md-6 pull-right">
      <!-- Box Comment -->
      <div class="box box-widget">
        <div class="box-header with-border">
          <div class="user-block">
            <%= image_tag (question.member.avatar.url(:thumb)), class: "img-circle img-sm",
                alt: "User Image", style: "max-width: 56px;" %>
            <span class="username"><a href="#"><%= question.member.alias %></a></span>
            <span class="description">Created at <%= question.created_at.strftime("%m/%d/%Y @ %H:%M")%></span>
          </div>
          <!-- /.user-block -->
          <div class="box-tools">
              <a id="options-dropdown" type="button" href="#" class="dropdown-toggle btn" data-toggle="dropdown">
                <i class="fa fa-cog"></i>
              </a>
              <ul id="notification-list" class="dropdown-menu">
                <% if current_member == question.topic.room.owner %>
                  <li>
                    <%= link_to 'Ban member', ban_member_url({topic_id: params[:id], member_id: question.member.id}), method: :post %>
                  </li>
                <% end %>
                <li>
                  <% if current_member == question.member %>
                  <%= link_to 'Edit', edit_question_path(question) %>
                  <% end %>
                </li>
              </ul>

          </div>
          <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <!-- post text -->
          <%= question.content %>
          <!-- Social sharing buttons -->
          <div class="row col-xs-12">
            <span class="text-muted pull-right"><%= question.answers.count %> answers</span>
          </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer box-comments">
          <% question.answers.each do |answer| %>
            <div class="box-comment">
              <!-- User image -->
              <%= image_tag (answer.member.avatar.url(:thumb)), class: "img-circle img-sm",
                  alt: "User Image" %>
              <div class="comment-text">
                <span class="username">
                  <%= answer.member.name %>
                  <span class="text-muted pull-right"><%= answer.created_at.strftime("%m/%d/%Y @ %H:%M")%></span>
                </span><!-- /.username -->
                <%= answer.content %>
              </div>
              <!-- /.comment-text -->
            </div>
            <!-- /.box-comment -->
          <% end %> <!-- answer loop -->
        </div>
        <!-- /.box-footer -->
        <div class="box-footer">
          <%= image_tag (current_member.avatar.url(:thumb)), class: "img-circle img-sm",
              alt: "User Image", style: "max-width: 56px;" %>
          <!-- .img-push is used to add margin to elements next to floating images -->
          <div class="img-push">
            <%= form_for @answer, url: {:action=>"create", :controller=>"answers", :id=>nil, question_id: question.id} do |ans| %>
              <div class="input-group">
                <%= ans.text_field :content, class:"form-control", placeholder: "Answer here" %>
                <div class="input-group-btn">
                  <%= button_tag(type: "submit", class: "btn btn-flat btn-danger") do %>
                      <i class="fa fa-send-o"></i>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <!-- /.box-footer -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  <% end %> <!-- questions loop -->
</div>
<!-- /.row -->
</section>


<script>
    $(function() {
      $("#options-dropdown").click(function(evt) {
      })
    })
</script>
