<div class="box-comment" id="box-answer-<%= answer.id %>">
  <% if answer.anonymous %>
      <% if(current_member == answer.member || current_member == room.owner) %>

        <%= image_tag answer.member.avatar.url(:thumb), class: "img-circle img-sm",
          alt: "User Image", style: "max-width: 56px;" %>
        <div class="comment-text">
          <span class="username">
            <span id="username">
              <a href="#"><%= answer.member.alias %></a>    <span class="fa fa-eye-slash"></span>
            </span>
            <%= render partial: 'answers/answer_control', locals: { answer: answer,
                                                                    current_member: current_member} %>
          </span>
      <% else %>
        <%= image_tag "/images/missing.png", class: "img-circle img-sm",
          alt: "User Image", style: "max-width: 56px;" %>
        <div class="comment-text">
          <span class="username">
            <span id="username">
              <%= "Anonymous" %>
            </span>
            <%= render partial: 'answers/answer_control', locals: { answer: answer,
                                                                    current_member: current_member} %>
          </span>
      <% end %>
  <% else %>

    <%= image_tag (answer.member.avatar.url(:thumb)), class: "img-circle img-sm",
          alt: "User Image", style: "max-width: 56px;" %>
    <div class="comment-text">
      <span class="username">
        <span id="username">
          <a href="#"><%= answer.member.alias %></a>
          <%= render partial: 'answers/answer_control', locals: { answer: answer,
                                                                  current_member: current_member} %>
        </span>
      </span>
  <% end %>

    <span id="answer-content-<%= answer.id %>">
      <%= answer.content %>
    </span>
  </div>
</div>
