<div class="box-comment">
  <% if answer.anonymous %>

      <% if(current_member == answer.member || current_member == room.owner) %>

        <%= image_tag answer.member.avatar.url(:thumb), class: "img-circle img-sm",
          alt: "User Image", style: "max-width: 56px;" %>
        <div class="comment-text">
          <span class="username">
            <a href="#"><%= answer.member.alias %></a>    <span class="fa fa-eye-slash"></span>
            <span class="text-muted pull-right"><%= answer.created_at.strftime("%m/%d/%Y @ %H:%M")%></span>
          </span>
          <%= answer.content %>
        </div>

      <% else %>
        <%= image_tag "/images/missing.png", class: "img-circle img-sm",
          alt: "User Image", style: "max-width: 56px;" %>
        <div class="comment-text">
          <span class="username">
            <%= "Anonymous" %>
            <span class="text-muted pull-right"><%= answer.created_at.strftime("%m/%d/%Y @ %H:%M")%></span>
          </span>
          <%= answer.content %>
        </div>

      <% end %>
  <% else %>

    <%= image_tag (answer.member.avatar.url(:thumb)), class: "img-circle img-sm",
          alt: "User Image", style: "max-width: 56px;" %>
    <div class="comment-text">
      <span class="username">
        <a href="#"><%= answer.member.alias %></a>
        <span class="text-muted pull-right"><%= answer.created_at.strftime("%m/%d/%Y @ %H:%M")%></span>
      </span>
      <%= answer.content %>
    </div>
  <% end %>


</div>