<h1>Edit Answer</h1>
<% if flash[:alert] %>
    <div class="notice"><%= flash[:alert] %></div>
<% end %>
<%= form_for @answer do |m| %>
	<%= m.label :content, "Name" %>
	<%= m.text_field :content %>
	<br>
	
	<%= m.submit "Edit Answer" %>
<% end %>