<% @title = "Edit #{@tag.content}" %>
<h1>Edit Tag</h1>
<% if flash[:alert] %>
    <div class="notice"><%= flash[:alert] %></div>
<% end %>
<%= simple_form_for @tag do |f| %>
	<%= f.label :content, "Name" %>
	<%= f.text_field :content %>
  <%= f.input :color, as: :minicolors %>
	<br>

	<%= f.submit "Edit Tag" %>
<% end %>
