<% @title = "New tag" %>
<h1>New Tag</h1>
<% if flash[:alert] %>
  <div class="notice"><%= flash[:alert] %></div>
<% end %>
<%= simple_form_for @tag, url: question_tags_path(@question.id) do |f| %>
<% if !@tag.errors.empty? %>
  <%= @tag.errors.full_messages %>
  <% end %>
  <%= f.label :content, "Content" %>
  <%= f.text_field :content %>
  <br></br>
  <%= f.input :color, as: :minicolors %>
  <br></br>
  <%= f.submit "New Tag" %>
<% end %>
