<div class="search-results">
  <div class="rooms">
    <h2>Rooms</h2>
    <% if @rooms.empty? %>
      <h3>There are no rooms that matches your search.</h3>
    <% else %>
      <% @rooms.each do |room| %>
        <div class="room box box-solid">
          <div class="room box-header with-border">
            <%= link_to "#{room.name}", room_path(room) %>
          </div>
          <div class="room box-body clearfix">
            <%= room.description %>
          </div>
        </div>
      <% end %>
    <% end %>
    </div>

  <div class="topics">
    <h2>Topics</h2>
    <% if @topics.empty? %>
      <h3>There are no topics that matches your search.</h3>
    <% else %>
      <% @topics.each do |topic| %>
        <div class="topic box box-solid">
          <div class="topic box-header with-border">
            <%= link_to "#{topic.name}", topic_path(topic) %>
          </div>
          <div class="topic box-body clearfix">
            <%= "In room #{topic.room.name}" %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="people">
    <h2>People</h2>
      <% if @members.empty? %>
        <h3>There is no person that matches your search.</h3>
      <% else %>
        <% @members.each do |member| %>
          <div class="member box box-solid">
            <div class="member box-header with-border">
              <%= link_to "#{member.name}", member_path(member) %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="questions">
    <h2>Questions</h2>
      <% if @questions.empty? %>
        <h3>There is no question that matches your search.</h3>
      <% else %>
        <% @questions.each do |question| %>
          <div class="question box box-solid">
            <div class="question box-header with-border">
              <%= link_to "In topic #{question.topic.name}", topic_path(question.topic) %>
            </div>
            <div class="question box-body clearfix">
              <%= "#{question.content}" %>
            </div>
          </div>
        <% end %>
      <% end %>
  </div>
</div>
