<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    <%= @room.name %>
    <% if current_member == @room.owner %>
      <%= link_to 'Edit', edit_room_path(@room), class: 'btn btn-sm btn-primary'%>
      <%= link_to 'Banned Members', banned_members_url, class: 'btn btn-sm btn-default'%>
      <%= link_to 'New Topic', new_room_topic_path(@room), class: 'btn btn-sm btn-default'%>
    <% elsif @room.presence_in current_member.rooms %>
      <%= link_to 'Exit', rooms_signout_path(id: @room.id), class: 'btn btn-sm btn-danger', method: :post %>
    <% else %>
      <%= link_to 'Join', rooms_signup_path(id: @room.id), class: 'btn btn-sm btn-success', method: :post %>
    <% end %>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active"><%= @room.name %></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <!-- row -->
  <div class="row">
    <div class="col-md-12">
      <!-- The time line -->
      <ul class="timeline">
        <% @room.topics.all.group_by { | topic | topic.created_at.to_date }.each do | date, topics | %>
          <!-- timeline time label -->
          <li class="time-label">
                <span class="bg-yellow">
                  <i class="fa fa-calendar-minus-o bg-white"></i>
                  <%= date.strftime('%m/%d/%Y') %>
                </span>
          </li>
          <!-- /.timeline-label -->

          <% topics.each do | topic |%>
            <!-- timeline item -->
            <li>
              <i class="fa fa-th-list bg-blue"></i>

              <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i> Updated at <%= topic.updated_at.strftime('%m/%d/%Y @ %H:%M') %></span>

                <h3 class="timeline-header"><%= link_to "#{topic.name}", topic_path(topic) %></h3>

                <div class="timeline-body">
                  <%= topic.description %>
                </div>
                <div class="timeline-footer">
                  <div class="row">
                    <div class="col-xs-12">
                      <% if current_member == @room.owner %>
                        <%= button_to "Delete", topic_path(topic), class: "btn btn-danger btn-xs pull-right",
                            data: { confirm: "Hmmm! Are you sure?" }, method: :delete, style: "margin-right: 6px;" %>
                        <%= button_to "Manage", edit_topic_path(topic), class: "btn btn-primary btn-xs pull-right", style: "margin-right: 6px;",
                            method: :get%>
                      <% end %>
                      <%= link_to "Enter", topic_path(topic), class:"btn btn-success btn-xs pull-right", style: "margin-right: 6px;", method: :get %>
                    </div>
                  </div>
                </div>
              </div>
            <li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
