<header class="main-header">
  <% if logged_in? %>
    <%= link_to home_path(current_member), class: "logo" do %>
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini">
        <img src="/images/blue_owla.png" style="max-width: 67%;">
      </span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg">
        <img src="/images/blue_owla.png" style="max-width: 20%;">
        <b>Ow</b>la
      </span>
    <% end %>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
          <span class="sr-only">Toggle navigation</span>
        </a>
  <% else %>
    <nav class="navbar navbar-static-top">

    <!-- Logo -->
    <%= link_to root_path, class: "logo" do %>
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>Ow</b>la</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Ow</b>la</span>
    <% end %>
  <% end %>

    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">

        <% if logged_in? %>
          <li class="notifications-link">
            <%= link_to '#', class: 'dropdown-toggle', id: 'notification-dropdown', data: { toggle: 'dropdown' } do %>
              <i class='fa fa-bell'></i>
              <span class="label label-danger" id="notification-counter">
                <!-- FIXME remove counter when dropdown is clicked -->
                <%= current_member.received_notifications.count %>
              </span>

              <!-- FIXME gray box appearing on hover on top of notifications div -->

              <ul class="dropdown-menu">
                <li>
                  <ul class="menu" id="dropdown-menu">
                    <% current_member.received_notifications.reverse.take(3).each do |notification| %>
                      <li id="notification-list">
                        <p><%= link_to notification.message, notification.link %></p>
                      </li>
                      <li class="divider"></li>
                    <% end %>
                  </ul>
                </li>
                <li class="footer"><a href="#">See All Messages</a></li>
              </ul>

            <% end %>
          </li>
          <li class="">
            <%= link_to 'LOGOUT', logout_path, class: "dropdown-toggle" %>
          </li>
        <% end %>

        <li class="notifications-menu hidden">
          <a href="#" class="dropdown-toggle">
            HELP
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
