<!DOCTYPE html>
<html>
  <head>
    <title>Owla</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <% if logged_in? %>
    <body class="hold-transition skin-black-light sidebar-mini">
  <% else %>
    <body class="layout-top-nav skin-black-light register-page">
  <% end %>

    <div id="wrapper">
        <!-- Main Header -->
        <div class="header">
          <%= render "/layouts/header" %>
        </div>


        <% if logged_in? %>
          <%= render '/layouts/sidebar' %>

          <div class="content-wrapper">
            <div class="flash-conteiner">
              <% flash.each do |key, value| %>
                <div class="alert alert-<%= key %>"><%= value %></div>
              <% end %>
            </div>
            <%= yield %>
          </div>
        <% else %>
          <!-- Page content -->
          <div class="container">
            <%= yield %>
          </div>
        <% end %>

        <!-- Main Footer -->
        <div class="footer">
          <%= render "/layouts/footer" %>
        </div>
    </div><!-- ./wrapper -->
    <%= javascript_include_tag 'application' %>

  </body>
</html>
