<% @title = "New Member | Owla" %>
<section class="register-content content-header">
  <div class="register-box">
    <div class="register-box-body">
      <p class="login-box-msg">Create your account</p>

      <%= form_for @member do |m| %>
        <div class="form-group has-feedback">
          <%= m.text_field :name, class: 'form-control', placeholder:'Full name', autofocus: true %>
          <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <%= m.text_field :email, class: 'form-control', placeholder:'Email' %>
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <%= m.text_field :alias, class: 'form-control', placeholder: 'Username' %>
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <%= m.password_field :password, class: 'form-control', placeholder: 'Password' %>
          <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <%= m.password_field :password_confirmation, class: 'form-control', placeholder: 'Retype password' %>
          <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <%= m.label "Choose your photo" %>
          <%= m.file_field :avatar, class: 'form-control' %>
        </div>
        <div class="row">
          <div class="col-xs-8">
            <!-- terms of service checkbox -->
          </div>
          <div class="col-xs-4">
            <%= m.submit 'Register', class:'btn btn-primary btn-block btn-flat' %>
          </div>
        </div>
          <!-- /.col -->
       <% end %>

       <%= link_to 'I already have an account' , root_path, class:"text-center" %>
    </div>
    <!-- /.form-box -->
  </div>
  <!-- /.register-box -->
</section>
