<div id="profile-photo">
        <%= image_tag (current_member.avatar.url(:thumb)), class: "img-circle", id: "show-member" %>
</div>

<div class="member-info">
  <table id="member-attributes">
    <tr><td><%= @member.name%></td></tr>
    <tr><td><%= @member.email%></td></tr>
    <tr><td><%= @member.alias%></td></tr>
    <% if current_member == @member %>
      <tr><td><%= link_to "Edit", edit_member_path(@member), class: "btn btn-info", id: "edit-path" %></td></tr>
    <% end %>
  </table>
</div>
